<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link href="/css/output.css" rel="stylesheet" />
    <title>Goop</title>
  </head>
  <body>
    <main>
      <nav>
        <div class="flex h-16 w-screen bg-blue-100">
          <a href="#"><span>Goop</span></a>
        </div>
      </nav>
    </main>
  </body>

  {{ if .HotReload}}
  <script src="http://localhost:3333/_hotreload"></script>
  {{ end }}
</html>
